/* Variáveis */
:root {
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --primary-color: #1988e2;
  --primary-color-dark-mode: #81c4ff;
  --background-light: #f5f5f5;
  --background-dark: #1a1a1a;
  --text-color: #333;
  --text-color-light: #555;
  --text-color-dark-mode: #f5f5f5;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --link-list-icon: url("./images/link.png");
  --link-list-icon-dark-mode: url("./images/link-white.png");
  --hover-background-light: #f5f0f0b9;
  --hover-background-dark: #444;
  --tooltip-background: rgba(0, 0, 0, 0.678);
  --tooltip-text-color: #fff;
  --header-background-light: #fff;
  --header-background-dark: #333;
  --header-text-color-dark-mode: #ccc;
  --footer-background-light: #fff;
  --footer-background-dark: #333;
  --footer-box-shadow: rgba(165, 165, 165, 0.3);
  --footer-box-shadow-dark-mode: rgba(255, 255, 255, 0.1);
  --details-background-light: #fff;
  --details-background-dark: #333;
  --details-border-color-dark-mode: rgba(255, 255, 255, 0.1);
  --details-box-shadow: rgba(78, 135, 185, 0.1);
  --details-hover-box-shadow: rgba(78, 135, 185, 0.3);
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

/* Estilo global do body */
body {
  background-color: var(--background-light);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Modo escuro */
body.dark-mode {
  background-color: var(--background-dark);
  color: var(--text-color-dark-mode);
}

/* Estilos do cabeçalho */
header {
  text-align: center;
  width: 95%;
  max-width: 1290px;
  padding: 20px;
  margin-top: 25px;
  background-color: var(--header-background-light);
  box-shadow: 0 2px 10px var(--box-shadow-color);
  border-radius: 8px;
  transition: all 0.7s;
}

h1 {
  letter-spacing: 5px;
  margin-bottom: 5px;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  margin-top: 10px;
}

body.dark-mode header {
  background-color: var(--header-background-dark);
  color: var(--text-color-dark-mode);
}

body.dark-mode header p,
body.dark-mode #footer {
  color: var(--header-text-color-dark-mode);
}

header:hover {
  transform: scale(1.01);
  box-shadow: 0 0 20px var(--box-shadow-color);
}

header p,
#footer {
  color: var(--text-color-light);
  font-size: 16px;
}

/* Botão de alternar modo escuro */
#toggle-dark-mode {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: all 0.5s;
}

#toggle-dark-mode:hover {
  color: #ff9800;
  transform: scale(1.2);
}

#toggle-dark-mode .bi {
  position: absolute;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

#toggle-dark-mode .bi-sun {
  opacity: 0;
  visibility: hidden;
}

body.dark-mode #toggle-dark-mode .bi-sun {
  opacity: 1;
  visibility: visible;
  color: rgb(248, 248, 76);
}

body.dark-mode #toggle-dark-mode .bi-moon-stars-fill {
  opacity: 0;
  visibility: hidden;
}

#toggle-dark-mode .bi-moon-stars-fill {
  opacity: 1;
  visibility: visible;
}

/* Estilos do conteúdo principal */
main {
  max-width: 1350px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 20px auto;
}

/* Estilos dos detalhes (elemento <details>) */
details {
  width: 400px;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  border: 1px solid var(--details-border-color-dark-mode);
  box-shadow: 0 0 20px var(--details-box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: box-shadow 0.4s;
  background-color: var(--details-background-light);
}

body.dark-mode details {
  background-color: var(--details-background-dark);
}

details:hover {
  box-shadow: 0 0 20px var(--details-hover-box-shadow);
}

/* Estilos dos itens de lista */
ul li {
  list-style: none;
}

/* Estilos dos links */
.link a {
  display: inline-block;
  color: var(--primary-color);
  font-weight: 600;
  text-decoration: none;
  transition: color 0.2s;
  margin: 0 10px;
}

body.dark-mode .link a {
  color: var(--primary-color-dark-mode);
}

/* Estilos dos itens de lista de links */
.link {
  list-style: none;
  margin: 15px 0;
  padding: 10px;
  transition: all 0.4s;
  background-color: var(--background-light);
  border-radius: 10px;
}

body.dark-mode .link {
  background-color: #292929;
}

.link:hover a {
  color: var(--primary-color);
}

body.dark-mode .link:hover a {
  color: var(--primary-color-dark-mode);
}

.link:hover {
  transform: scale(1.03);
  background-color: var(--hover-background-light);
}

body.dark-mode .link:hover {
  background-color: var(--hover-background-dark);
}

li > h2 + ul {
  padding-left: 12px;
}


/* Tooltip */
.link .tooltip {
  position: absolute;
  min-width: 250px;
  background-color: var(--tooltip-background);
  color: var(--tooltip-text-color);
  padding: 10px;
  border-radius: 5px;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

.link:hover .tooltip {
  opacity: 1;
  transition-delay: 0.7s;
}

/* Estilos do rodapé */
#footer {
  box-sizing: border-box;
  margin: 20px auto;
  padding: 15px;
  text-align: center;
  width: 400px;
  max-width: calc(100% - 40px);
  border-radius: 8px;
  box-shadow: 0 0 20px var(--footer-box-shadow);
  background-color: var(--footer-background-light);
  transition: all 0.4s;
  cursor: pointer;
}

body.dark-mode #footer {
  background-color: var(--footer-background-dark);
  box-shadow: 0 0 20px var(--footer-box-shadow-dark-mode);
}

#footer:hover {
  transform: scale(1.01);
  box-shadow: 0 0 20px var(--footer-box-shadow);
}

/* Responsividade */
@media screen and (max-width: 370px) {
  header {
    font-size: 12px;
  }

  header p {
    font-size: 14px;
  }

  #footer {
    font-size: 12px;
  }

  #footer p {
    font-size: 14px;
  }

  details {
    font-size: 12px;
  }

  details p {
    font-size: 14px;
  }

  ul li {
    font-size: 14px;
  }

  ul li a {
    font-size: 14px;
  }
}
