/* Reset básico */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilo global do body */
body {
  background-color: #f5f5f5;
  color: #333;
}

/* Estilos do cabeçalho */
header {
  box-sizing: border-box;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1290px;
  max-width: calc(100% - 40px);
  padding: 20px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: all 0.7s;
}

header:hover {
  transform: scale(1.01);
  box-shadow: 0 0 20px rgba(78, 135, 185, 0.3);
}

/* Estilos dos parágrafos dentro do cabeçalho e do rodapé */
header p,
#footer {
  color: #555;
  font-size: 16px;
}

/* Estilos dos links */
.link a {
  display: inline-block;
  color: #1988e2;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.2s;
}

/* Estilos dos itens de lista de links */
.link {
  list-style: url("images/link.png");
  margin: 15px 0;
  transition: all 0.4s;
  background-color: #f5f0f06b;
  border-radius: 10px;
}

/* Efeito de hover nos links */
.link:hover a {
  color: #2b5681;
}

/* Efeito de hover nos itens de lista de links */
.link:hover {
  transform: scale(1.05);
  background-color: #f5f0f0b9;
}

.link .tooltip {
  position: absolute;
  min-width: 250px;
  background-color: rgba(0, 0, 0, 0.678);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

.link:hover .tooltip {
  opacity: 1;
  transition-delay: 0.7s;
}


/* Estilos do conteúdo principal */
main {
  max-width: 1350px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 20px auto;
}

/* Estilos dos itens de lista */
ul li {
  padding: 10px;
  list-style: none;
}


/* Estilos dos detalhes (elemento <details>) */
details {
  width: 400px;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  border: 1px solid rgba(78, 135, 185, 0.1);
  box-shadow: 0 0 20px rgba(78, 135, 185, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: box-shadow 0.4s;
  background-color: #fff;
}

/* Efeito de hover nos detalhes */
details:hover {
  box-shadow: 0 0 20px rgba(78, 135, 185, 0.3);
}

/* Estilos do rodapé */
#footer {
  box-sizing: border-box;
  margin: 20px auto;
  padding: 15px;
  text-align: center;
  width: 400px;
  max-width: calc(100% - 40px);
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(165, 165, 165, 0.3);
  background-color: #fff;
  transition: all 0.4s;
  cursor: pointer;
}

/* Efeito de hover no rodapé */
#footer:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px rgba(78, 135, 185, 0.3);
}

/* Fazendo a responsividade */
@media screen and (max-width: 370px) {
  header {
    font-size: 12px;
  }

  header p {
    font-size: 14px;
  }
}